.titleNumber {
    color: #4BA5FF;
}

.title {
    color: #b7c9e0;
}

.bgProjects {
    background-color: #0D1117;
}

@media (max-width: 768px) {
    .titleNumber {
        font-size: 1.5rem;
    }
    .title {
        font-size: 2rem;
    }
}

@media (max-width: 460px) {
    .titleNumber {
        font-size: 1.1rem;
    }
    .title {
        font-size: 1.4rem;
    }
}