

.cardBackground{
    background-color: #161f29 ;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.15);
}

.linkButton {
    transition: color 0.2s ease;
    color: #A1AFBF;
}

.linkButton:hover {
    color: #4BA5FF;
}