@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-grayPrimary: #B7C9E0;
  --color-graySecondary: #8B949E;
  --color-grayTertiary: #6a7282;
  --color-bluePrimary: #4BA5FF;
  --color-blueSecondary: #bedbff;
  --color-blackPrimary: #0D1117;
  --color-card: #161f29;

  --shadow-3xl:  2px 4px 8px 0 rgba(0, 0, 0, 0.15);
}


@layer components {
  .hero-responsive{
    margin:0px;
    font-size: clamp(25px, 5vw, 50px);
  }
  .header-responsive {
    font-size: clamp(23px, 5vw, 30px);
  }
  .number-responsive {
    font-size: clamp(16px, 4vw, 25px);
  }

}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


